@{
    ViewBag.Titulo = "Empleados";
}

<table class="table">
    <thead>
        <tr>
            <th>Hola</th>
        </tr>
    </thead>
    <tbody>
        <table class="table table-sm table-dark">
            <tbody>
                <div class=row justfify>
                    <div class="col-sm-12 col-md-10">
                        <table class="table">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">First</th>
                                    <th scope="col">Last</th>
                                    <th scope="col">Handle</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>@@mdo</td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>Jacob</td>
                                    <td>Thornton</td>
                                    <td>@@fat</td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>Larry</td>
                                    <td>the Bird</td>
                                    <td>@@twitter</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>    
                </div>
            </tbody>
        </table>
    </tbody>
</table>